body {
    background-image: url("../images/background.webp");
    background-repeat: no-repeat;
    background-size: cover; 
}

.jumbotron {
    background-color: #36bf71;
    color: #f5425a;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}  

h2 {
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
}

p {
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
}

img {
    float: right;
    margin-right: 30%;
    margin-top: 0px;
}

button {
    background-color: #f5425a;
    font-style: bold;
}

