body {
    background-image: url("../images/background.webp");
    background-repeat: no-repeat;
    background-size: cover; 
}

.jumbotron {
    background-color: #165928;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

