body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}

.jumbotron {
    background-color: #36bf71;
    color: orange;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}  

h2 {
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
}

p {
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
}

img {
    float: left;
    margin-right: 5px;
    margin-left: 5px;
}

button {
    background-color: orange;
    font-style: bold;
}

.panel-heading {
    border-top: 0px solid orange;
}

.panel {
    border-color: orange;
}

